<h1>Edit page, welcome!!</h1>
<%= render partial: "form", locals: {blog_post: @blog_post}%> 
<%# Button to delete the post %>
<%= button_to "Delete", @blog_post, method: :delete, data: {turbo_confirm: "Are you sure????"} %>